<div class="container" style="padding: 20px; font-family: sans-serif">
  <div class="form-container" style="background: #f4f6f9; padding: 20px; margin-bottom: 30px; border-radius: 8px">
    <h3>{{ editandoId ? '📝 Editar Persona' : '👤 Añadir Nueva Persona' }}</h3>

    <form [formGroup]="personaForm" (ngSubmit)="guardarPersona()">
      <div style="display: grid; grid-template-columns: repeat(3, 1fr); gap: 10px; margin-bottom: 10px">
        <div>
          <input type="text" formControlName="nombre" placeholder="Nombre *"
            style="padding: 8px; width: 100%; box-sizing: border-box" />
          <div *ngIf="personaForm.get('nombre')?.touched && personaForm.get('nombre')?.errors"
            style="color: #dc3545; font-size: 0.8em; margin-top: 2px">
            <small *ngIf="personaForm.get('nombre')?.hasError('required')">El nombre es obligatorio.</small>
            <small *ngIf="personaForm.get('nombre')?.hasError('pattern')">Solo se permiten letras y espacios.</small>
          </div>
        </div>

        <div>
          <input type="text" formControlName="apellidos" placeholder="Apellidos *"
            style="padding: 8px; width: 100%; box-sizing: border-box" />
          <div *ngIf="personaForm.get('apellidos')?.touched && personaForm.get('apellidos')?.errors"
            style="color: #dc3545; font-size: 0.8em; margin-top: 2px">
            <small *ngIf="personaForm.get('apellidos')?.hasError('required')">El apellido es obligatorio.</small>
            <small *ngIf="personaForm.get('apellidos')?.hasError('pattern')">Solo se permiten letras y espacios.</small>
          </div>
        </div>

        <div>
          <input type="text" formControlName="cedula" placeholder="Cédula (V-12345678) *"
            style="padding: 8px; width: 100%; box-sizing: border-box" />

          <div *ngIf="personaForm.get('cedula')?.errors && personaForm.get('cedula')?.dirty"
            style="color: #dc3545; font-size: 0.8em; margin-top: 2px">
            <small *ngIf="personaForm.get('cedula')?.hasError('required')">La cédula es obligatoria.</small>
            <small *ngIf="personaForm.get('cedula')?.hasError('pattern')">Formato inválido. Debe ser V- o E- o J-
              seguido de un número entre 1 y 60
              millones.</small>
          </div>
        </div>

        <div>
          <input type="email" formControlName="email" placeholder="Correo Electrónico *"
            style="padding: 8px; width: 100%; box-sizing: border-box" />
          <div *ngIf="personaForm.get('email')?.errors && personaForm.get('email')?.dirty"
            style="color: #dc3545; font-size: 0.8em; margin-top: 2px">
            <small *ngIf="personaForm.get('email')?.hasError('required')">El correo electrónico es obligatorio.</small>
            <small *ngIf="
                personaForm.get('email')?.hasError('email') ||
                personaForm.get('email')?.hasError('pattern')
              ">
              Formato de correo inválido (Ej: usuario@dominio.com).
            </small>
          </div>
        </div>

        <div>
          <input type="text" formControlName="telefonoCelular" placeholder="Teléfono Celular (+584121234567) *"
            style="padding: 8px; width: 100%; box-sizing: border-box" />
          <div *ngIf="
              personaForm.get('telefonoCelular')?.errors &&
              personaForm.get('telefonoCelular')?.dirty
            " style="color: #dc3545; font-size: 0.8em; margin-top: 2px">
            <small *ngIf="personaForm.get('telefonoCelular')?.hasError('required')">El teléfono celular es
              obligatorio.</small>
            <small *ngIf="personaForm.get('telefonoCelular')?.hasError('pattern')">
              Formato inválido. Debe iniciar con +58 seguido de 412, 416, 424 o 426 y 7 dígitos.
            </small>
          </div>
        </div>

        <div>
          <input type="text" formControlName="telefonoFijo" placeholder="Teléfono Fijo (+582121234567) *"
            style="padding: 8px; width: 100%; box-sizing: border-box" />
          <div *ngIf="
              personaForm.get('telefonoFijo')?.errors && personaForm.get('telefonoFijo')?.dirty
            " style="color: #dc3545; font-size: 0.8em; margin-top: 2px">
            <small *ngIf="personaForm.get('telefonoFijo')?.hasError('required')">El teléfono fijo es
              obligatorio.</small>
            <small *ngIf="personaForm.get('telefonoFijo')?.hasError('pattern')">
              Formato inválido. Debe iniciar con +58 seguido de 212 y 7 dígitos.
            </small>
          </div>
        </div>

        <label style="display: flex; align-items: center; gap: 5px">
          <input type="checkbox" formControlName="activo" /> ¿Está Activo?
        </label>
      </div>

      <h4 style="margin-top: 15px; margin-bottom: 5px; color: #555">Dirección Postal</h4>
      <div formGroupName="direccion" style="display: grid; grid-template-columns: repeat(3, 1fr); gap: 10px">



        <div>
          <input type="text" formControlName="codigoPostal" placeholder="Código Postal *"
            style="padding: 8px; width: 100%; box-sizing: border-box" />
          <div *ngIf="
              personaForm.get('direccion.codigoPostal')?.errors &&
              personaForm.get('direccion.codigoPostal')?.dirty
            " style="color: #dc3545; font-size: 0.8em; margin-top: 2px">
            <small *ngIf="personaForm.get('direccion.codigoPostal')?.hasError('required')">El código postal es
              obligatorio.</small>
            <small *ngIf="personaForm.get('direccion.codigoPostal')?.hasError('pattern')">El código postal contiene
              caracteres no
              permitidos.</small>
          </div>
        </div>

        <div>
          <input type="text" formControlName="urbanizacion" placeholder="Urbanización *"
            style="padding: 8px; width: 100%; box-sizing: border-box;">

          <div
            *ngIf="personaForm.get('direccion.urbanizacion')?.errors && personaForm.get('direccion.urbanizacion')?.dirty"
            style="color: #dc3545; font-size: 0.8em; margin-top: 2px;">
            <small *ngIf="personaForm.get('direccion.urbanizacion')?.hasError('required')">La urbanización es
              obligatoria.</small>
            <small *ngIf="personaForm.get('direccion.urbanizacion')?.hasError('pattern')">
              La urbanización contiene caracteres no permitidos.
            </small>
          </div>
        </div>

        <div>
          <input type="text" formControlName="ciudad" placeholder="Ciudad *"
            style="padding: 8px; width: 100%; box-sizing: border-box;">

          <div *ngIf="personaForm.get('direccion.ciudad')?.errors && personaForm.get('direccion.ciudad')?.dirty"
            style="color: #dc3545; font-size: 0.8em; margin-top: 2px;">
            <small *ngIf="personaForm.get('direccion.ciudad')?.hasError('required')">La ciudad es obligatoria.</small>
            <small *ngIf="personaForm.get('direccion.ciudad')?.hasError('ciudadInvalida')">
              Debe ser una ciudad principal válida (Ej: Caracas, Maracaibo, Valencia).
            </small>
          </div>
        </div>

        <div>
          <input type="text" formControlName="provinciaEstado" placeholder="Estado / Provincia *"
            style="padding: 8px; width: 100%; box-sizing: border-box;">

          <div
            *ngIf="personaForm.get('direccion.provinciaEstado')?.errors && personaForm.get('direccion.provinciaEstado')?.dirty"
            style="color: #dc3545; font-size: 0.8em; margin-top: 2px;">
            <small *ngIf="personaForm.get('direccion.provinciaEstado')?.hasError('required')">El Estado es
              obligatorio.</small>
            <small *ngIf="personaForm.get('direccion.provinciaEstado')?.hasError('estadoInvalido')">
              Debe ser un estado válido de Venezuela (Ej: Zulia, Miranda, Distrito Capital).
            </small>
          </div>
        </div>

        <div>
          <input type="text" formControlName="pais" placeholder="País *"
            style="padding: 8px; width: 100%; box-sizing: border-box" />
          <div *ngIf="personaForm.get('direccion.pais')?.errors && personaForm.get('direccion.pais')?.dirty"
            style="color: #dc3545; font-size: 0.8em; margin-top: 2px">
            <small *ngIf="personaForm.get('direccion.pais')?.hasError('required')">El pais es obligatorio.</small>
            <small *ngIf="personaForm.get('direccion.pais')?.hasError('pattern')"> Venezuela. </small>
          </div>
        </div>
      </div>

      <div style="margin-top: 15px; display: flex; gap: 10px">
        <button type="submit" style="
            background: #28a745;
            color: white;
            padding: 10px 20px;
            border: none;
            cursor: pointer;
            border-radius: 4px;
          ">
          {{ editandoId ? 'Actualizar' : 'Guardar Persona' }}
        </button>
        <button type="button" *ngIf="editandoId" (click)="cancelarEdicion()" style="
            background: #6c757d;
            color: white;
            padding: 10px 20px;
            border: none;
            cursor: pointer;
            border-radius: 4px;
          ">
          Cancelar
        </button>
      </div>
    </form>
  </div>

  <hr />

  <h3>Listado de Personas Activas en Memoria</h3>
  <table border="1" cellpadding="10" style="width: 100%; border-collapse: collapse; text-align: left; margin-top: 15px">
    <thead style="background: #343a40; color: white">
      <tr>
        <th>ID</th>
        <th>Cédula</th>
        <th>Nombre Completo</th>
        <th>Nombre Completo</th>
        <th>Contacto</th>
        <th>Dirección Detallada</th>
        <th>Estado</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let persona of listaPersonas" [style.opacity]="persona.activo ? '1' : '0.6'">
        <td>{{ persona.id }}</td>
        <td>
          <strong>{{ persona.nombre }} {{ persona.apellidos }}</strong>
        </td>
        <td>
          <div>📧 {{ persona.email }}</div>
          <div>📱 {{ persona.telefonoCelular }}</div>
          <div *ngIf="persona.telefonoFijo">📞 {{ persona.telefonoFijo }}</div>
        </td>

        <td>
          <span [style.background]="persona.activo ? '#d4edda' : '#f8d7da'"
            [style.color]="persona.activo ? '#155724' : '#721c24'"
            style="padding: 4px 8px; border-radius: 4px; font-size: 0.9em; font-weight: bold">
            {{ persona.activo ? 'Activo' : 'Inactivo' }}
          </span>
        </td>
        <td>
          <button (click)="prepararEditar(persona)" style="
              background: #007bff;
              color: white;
              border: none;
              padding: 5px 10px;
              cursor: pointer;
              margin-right: 5px;
              border-radius: 3px;
            ">
            Editar
          </button>
          <button (click)="eliminarPersona(persona.id)" style="
              background: #dc3545;
              color: white;
              border: none;
              padding: 5px 10px;
              cursor: pointer;
              border-radius: 3px;
            ">
            Eliminar
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
